<div class="row">
  <div class="col-md-12">
    <h1>Welcome to Fantasy Sports Bet</h1>
    <blockquote class="blockquote col-md-12">
      <img class="img-thumbnail col-md-4" src="https://s-media-cache-ak0.pinimg.com/originals/86/6f/a8/866fa85dbdad7f700a4b844e99bd14fc.jpg" alt="">
      <p class="mb-0 col-md-6">Bet on real games or simulated games with virtual currency</p>
    </blockquote>
    <% @foxnews_articles["articles"].each do |article| %>
    <article class="col-md-6">
    <h4><%= article["title"] %></h1>
    <p> <%= article["description"] %></p>
    <img class="img-thumbnail"src="<%= article["urlToImage"] %>" alt="">
    <p><a href="<%= article["url"] %>">Read More..</a></p>
    <p>by <%= article["author"]%></p>
    <hr>
    </article>
    <% end %>
  </div>
  <br>
</div>
